.list-featured-news{
  .list-news{
    .item{
      position: relative;
      &:before{
        position: absolute;
        top:10px;
        left: 10px;
        right: 10px;
        bottom: 0;
        border:1px solid #e1e1e1;
        border-bottom: 1px solid #b8b7b7;
        content: '';
        z-index: 0;
      }
      .photo{
        height: 306px;
      }
      &.item-normal-news{
        .information{
          padding: 0 20px;
          .title{
            color: #252525;
            font-size:18px;
            text-transform: uppercase;
            font-family:Roboto;
            font-weight: 500;
          }
        }
        .description{
          font-size:15px;
          line-height: 20px;
          height: 80px;
          overflow: hidden;
          color: #3e4248;
        }
      }

      &.item-facebook-news-2{
        .post{
          padding-left: 20px;
          padding-right: 20px;
          .description{
            font-size: 15px;
            line-height: 20px;
            height: 140px;
            overflow: hidden;
            color: #3e4248;
          }
        }
        .index{
          color: #90949c;
          font-size: 12px;
          padding-left: 20px;
          padding-right: 20px;
          margin-bottom: 1px;
        }
      }
    }
  }
}