@each $menuName, $color in (menu1, #ff0000),
        (menu2, #b1bf10),
        (menu3, #00aeff) {
  .#{$menuName} {
    background-color: $color;
  }
}

.facebook-author {
  .avatar {
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .info {
    font-family: Arial, sans-serif;
    font-size: 13px;
    .name {
      font-weight: bold;
      @include textoverflow(20px);
    }
    .time {
      font-weight: 300;
      @include textoverflow(20px);
      color: #cbcbcb;
    }
  }
  .facebook-icon {
    float: right;
  }
}

.list-news {
  @extend %clearfix;
  padding: 10px 0;
  margin: 0 -10px;
  .item {
    float: left;
    padding: 10px;
    .photo {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .type {
        padding: 0 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;
        line-height: 24px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .title {
      margin-bottom: 10px;
      font-size: 13px;
      font-family: Helvetica, sans-serif;
      font-weight: bold;
      @include textoverflow(20px);
    }
    .index {
      > span {
        margin-right: 25px;
        > i {
          margin-right: 5px;
        }
      }
    }
  }

  .item-normal-news {
    .photo {
      height: 200px;
      margin-bottom: 20px;
    }
    .information {
      font-family: Roboto, sans-serif;
      .title {
        @include textoverflow(20px);
        font-weight: bold;
        margin-bottom: 3px;
      }
      .link {
        color: #1b98d9;
        font-weight: 300;
        font-size: 12px;
        @include textoverflow(16px);
        margin-bottom: 10px;
      }
      .description {
        line-height: 16px;
        font-size: 12px;
        font-weight: 300;
        height: 32px;
        color: #808080;
        margin-bottom: 15px;
        overflow: hidden;
        font-family: "Lato-Regular";
      }
      .index {
        width: 100%;
        color: #808080;
        font-size: 12px;
        .square-splash {
          background: #808080;
        }
        tr > {
          td {
            vertical-align: middle;
            ul.list-inline {
              margin-bottom: 0;
              > li {
                padding-right: 0;
                i {
                  font-size: 14px;
                  color: $yellow;
                }
              }
            }
            &:last-child {
              text-align: right;
            }
          }
        }
      }
    }
  }

  .item-facebook-news-1 {
    .facebook-author {
      position: absolute;
      padding: 15px;
      top: 0;
      left: 0;
      width: 100%;
      color: #ffffff;
      background: rgba(0, 0, 0, 0.8);
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(246, 246, 246, 0.19) 76%, rgba(0, 0, 0, 0) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(76%, rgba(246, 246, 246, 0.19)), color-stop(100%, rgba(0, 0, 0, 0)));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(246, 246, 246, 0.19) 76%, rgba(0, 0, 0, 0) 100%);
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(246, 246, 246, 0.19) 76%, rgba(0, 0, 0, 0) 100%);
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(246, 246, 246, 0.19) 76%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(246, 246, 246, 0.19) 76%, rgba(0, 0, 0, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
      .facebook-icon {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 21px;
        line-height: 1;
      }

    }
    .post {
      position: absolute;
      padding: 15px;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #ffffff;
      background: rgba(255, 255, 255, 0);
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(230, 230, 230, 0) 10%, rgba(0, 0, 0, 0.85) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(10%, rgba(230, 230, 230, 0)), color-stop(100%, rgba(0, 0, 0, 0.85)));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(230, 230, 230, 0) 10%, rgba(0, 0, 0, 0.85) 100%);
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(230, 230, 230, 0) 10%, rgba(0, 0, 0, 0.85) 100%);
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(230, 230, 230, 0) 10%, rgba(0, 0, 0, 0.85) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(230, 230, 230, 0) 10%, rgba(0, 0, 0, 0.85) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
      .title {
        text-transform: uppercase;
        margin-bottom: 5px;
        @include textoverflow(20px);
      }
      .description {
        font-size: 13px;
        line-height: 17px;
        height: 34px;
        overflow: hidden;
        margin-bottom: 10px;
        color: inherit !important;
      }
      .index {
        padding-top: 0 !important;
        border-top: none !important;
        color: inherit !important;
        > span {
          margin-right: 25px;
          > i {
            margin-right: 5px;
          }
        }
      }
    }

  }

  .item-facebook-news-2 {
    .photo {
      margin-bottom: 10px;
    }
    .facebook-author {
      position: absolute;
      padding: 15px;
      top: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(246, 246, 246, 0.19) 76%, rgba(0, 0, 0, 0) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(76%, rgba(246, 246, 246, 0.19)), color-stop(100%, rgba(0, 0, 0, 0)));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(246, 246, 246, 0.19) 76%, rgba(0, 0, 0, 0) 100%);
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(246, 246, 246, 0.19) 76%, rgba(0, 0, 0, 0) 100%);
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(246, 246, 246, 0.19) 76%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(246, 246, 246, 0.19) 76%, rgba(0, 0, 0, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
      color: #ffffff;
      .facebook-icon {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 21px;
        line-height: 1;
      }

    }
    .title {
      height: 34px;
      padding-top: 5px;
    }
    .post {
      .description {
        font-size: 13px;
        line-height: 17px;
        height: 68px;
        overflow: hidden;
        margin-bottom: 12px;
      }
    }
  }

  .item-facebook-news-3 {
    .photo {
      margin-bottom: 10px;
    }
    .facebook-author {
      margin-bottom: 10px;
      .facebook-icon {
        display: none;
      }
    }
    .description {
      font-size: 13px;
      line-height: 17px;
      height: 34px;
      overflow: hidden;
      margin-bottom: 10px;
    }
  }

  .item-facebook-news-4 {
    .photo {
      margin-bottom: 15px;
      height: 114px;
    }
    .facebook-author {
      margin-bottom: 10px;
      .facebook-icon {
        display: none;
      }

    }
    .description {
      font-size: 13px;
      line-height: 17px;
      height: 34px;
      overflow: hidden;
      margin-bottom: 10px;
    }
    .link {
      margin-bottom: 14px;
    }
    .border {
      padding: 10px;
      margin-top: -15px;
      border: 1px solid #e9e9e9;
      border-top: none;
      margin-bottom: 10px;
      .link {
        margin: 0;
      }
      .description {
        @include textoverflow(20px);
      }
    }
  }
  &.grid-col-3 {
    .item {
      width: 33.33333333%;

    }
  }
  &.grid-col-2 {
    .item {
      width: 50%;
    }
  }
}

.square-splash {
  width: 3px;
  height: 3px;
  display: inline-block;
  margin: 2px 6px;
}

.list-inline {
  margin: 0;
  .item {
    background: #ffffff;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    padding: 15px;
    margin-bottom: 20px;
    .index {
      border-top: 1px solid #e9e9e9;
      td {
        padding-top: 13px;
      }
    }
  }
}

.grid-col-1 {
  margin: 0;
  .item {
    width: 100%;
    margin-bottom: 20px;
    background: #ffffff;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    padding: 15px;

  }
}

.only-mobile{
  display: none;
}

@media screen and (min-width: 992px) {
  .list-inline {
    margin: 0;
    .item {
      background: #ffffff;
      -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
      padding: 15px;
      margin-bottom: 20px;
      .photo {
        float: left;
        margin-right: 20px;
        width: 294px;
        height: 180px;
        margin-bottom: 0;
      }
      .information {
        overflow: hidden;
        .title {
          text-transform: uppercase;
          font-size: 15px;
        }
        .description {
          font-size: 15px;
          color: #3e4248;
          font-family: Lato-Regular;
          line-height: 22px;
          height: 88px;
          margin-bottom: 10px;
          overflow: hidden;
        }

      }
    }
  }
  .grid-col-1 {
    .item {
      .photo {
        min-height: 152px;
      }
    }
  }
}

@media screen and (max-width: 991px){
  .grid-col-1{
    .item-facebook-news-2, .item-facebook-news-3 {
      .photo{
        height: 200px;
      }
      .title{
        height: 20px !important;
        padding-top: 0;
      }
    }
    .item-facebook-news-3{
      .description{
        height: 20px;
      }
    }
  }
  .list-inline{
    .item{
      &:nth-child(5),&:nth-child(6){
        display: none;
      }
    }
  }
}

@media screen and (max-width: 767px){
  .only-mobile{
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1090px;
  }
  .list-news {
    .item-facebook-news-1 {
      .photo {
        height: 263px;
      }
    }
  }
}
