.select{
  &:after{
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    content: "";
    background: #888888;
    position: absolute;
    top:0;
    right: 0;
  }
  select{
    border:none;

  }
  &.select-inline{
    display: inline-block;
  }
}