/*
.search-box{
  position: relative;
  input{
    width: 0;
    height: 35px;
    line-height: 35px;
    border:none;
    background: transparent;
  }
  button{
    width: 35px;
    height: 35px;
    border:none;
    background: url("../../images/search-icon.png") no-repeat center;
  }
}*/
